.envelope{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em 1em 0em 0em!important;
    box-shadow: 0px 0px 10px 0px #7f5a83;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #5f3c63 0%, #0d324d 74%);
}
.envelope-sub{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
}

.envelope *:not(.ant-tag) {
    color: rgb(228, 228, 228) !important;
}
u{
    text-decoration: underline;
}

.underline{
    text-decoration: underline;
}
/* 
.envelope > div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
} */

.envelope .row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.invoice-container{
    border-radius: 0 0 1em 1em;
    width: 100%;
    padding-top: 3em;
}
.invoice-container h3, .invoice-container h4{
    padding: 0.2em 0.3em;
    line-height: 1em;
}

.bulky-divider{
    height: 0.4em;
    width: 100%;
    background-color: black;
    border-radius: 4px ;
    margin-bottom: 1em;
}